# Laboratory exercise 4

In this laboratory exercise you will use the questionnaire and answers given below

In [113]:
import pandas as pd

In [114]:
questionnaire = pd.DataFrame({'Q1': [1, 2, 2, 3, 2, 2, 3, 3, 2, 3],
                              'Q2': [1, 1, 1, 2, 3, 3, 2, 3, 3, 3],
                              'Q3': [1, 1, 2, 1, 2, 3, 3, 3, 2, 3]})

1. Write a function to detrmine the realiability of the questionnaire answers with Cronbach's Alpha.

Cronbach’s alpha is a measure of internal consistency, that is, how closely related a set of items are as a group. It is considered to be a measure of scale reliability. Technically speaking, Cronbach’s alpha is not a statistical test – it is a coefficient of reliability (or consistency). <br>
(https://stats.oarc.ucla.edu/spss/faq/what-does-cronbachs-alpha-mean/ <br>
https://library.virginia.edu/data/articles/using-and-interpreting-cronbachs-alpha)

In [115]:
questionnaire

   Q1  Q2  Q3
0   1   1   1
1   2   1   1
2   2   1   2
3   3   2   1
4   2   3   2
5   2   3   3
6   3   2   3
7   3   3   3
8   2   3   2
9   3   3   3

In [116]:
quest_ext = questionnaire.copy()

In [117]:
# https://library.virginia.edu/data/articles/using-and-interpreting-cronbachs-alpha
# formula
# c_alpha = k/(k-1) * (1 - (sum_var)/(var_total))
# column Total needed

In [118]:
quest_ext['Total'] = quest_ext.sum(axis=1)

In [119]:
quest_ext

   Q1  Q2  Q3  Total
0   1   1   1      3
1   2   1   1      4
2   2   1   2      5
3   3   2   1      6
4   2   3   2      7
5   2   3   3      8
6   3   2   3      8
7   3   3   3      9
8   2   3   2      7
9   3   3   3      9

In [120]:
quest_ext.var()

Q1       0.455556
Q2       0.844444
Q3       0.766667
Total    4.266667
dtype: float64

In [121]:
quest_ext.var()[0]

0.4555555555555556

In [122]:
quest_ext.var()[len(quest_ext.columns)-1]

4.266666666666666

In [123]:
def cronbach_alpha(df):
    
    k = len(df.columns)-1 # columns 1, 2, 3
    
    sum_var = 0
    for i in range(len(df.columns)-1): 
        sum_var += df.var()[i]
        #print(sum_var)

    var_total = df.var()[len(df.columns)-1] # column Total
    
    c_alpha = k/(k-1) * (1 - (sum_var)/(var_total))
    
    return c_alpha

In [124]:
cronbach_alpha(quest_ext)

0.7734375

Cronbach alpha higher than 0.7 is considered  acceptable.

In [125]:
# verification with in-built function

import pingouin as pg
pg.cronbach_alpha(data=questionnaire)

(0.7734375, array([0.336, 0.939]))

2. Explain the differences between in-house data labeling, crowdsourcing and outsourcing.

Supervised machine learning algorithms require labeled data. Data labeling can be done in-house, be outsourced or crowdsourced. <br> <br> 
In-house data labeling uses data scientists and facilities from the organization that requires data labeling. People need to be trained and facilites built; these are highly time-consuming activities. Pricing is also high; companies need to invest both in hardware and data scientists. In-house data labeling provides high level of security and high level of labeling quality. <br> <br> 
Crowdsourcing implies internet users as labelers of data. The process is fast and cheap. However, no security standard has to be respected (data can be distributed elsewhere) and the quality of labeling may not be very high. reCAPTCHA is an example of crowdsourced data labeling. <br> <br> 
Outsourcing data labeling is an appropriate strategy when dealing with not extremely private data that requires high-quality data labeling. Outsourcing implies that companies hire a third-party: trained experts in data labeling. Price, time and security are higher than with crowdsouring, but lower than with in-house labeling. The quality of labeling is high.

3. Explain the main differences between annotation for image classification, object detection and image segmentation.

Image classification, object detection and image segmentation are computer vision tasks. <br> <br>
Image classification is a task of determining what is shown in an image. The final prediction is the most probable of predetermined classes. Classes may be types of objects, scenes or concepts. Each class has its label. <br> <br>
Object detection looks for (identifies and localizes) certain objects in an image. If found, objects are categorized and distinguished - each object is labeled with a bounding box and given a name depending on the category. The output of an object detection model is a list of objects with their corresponding class labels and bounding box coordinates. <br> <br>
Image segmentation gives each pixel in an image a label depending on which region (or object) it belongs to. The output of a segmentation model is a pixel-wise mask that represents the segmentation boundaries.