# Laboratory excercise 1 and 2
The notebook contains excercise connected to the auditory excerices 1 and 2. For any questions feel free to contact assistans: eda.jovicic@fer.hr and filip.tomas@fer.hr

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

1. Load the dataset *student_score.csv*. When loading the dataset watch out for the index column.

In [4]:
students_score = pd.read_csv('students_score.csv', index_col = 0)
students_score.head()

,StudentId,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,520645,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,303683,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,457351,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,812988,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,594678,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

2. Print the size of the dataset. List the number of examples and the number of features.

In [5]:
#size
students_score.shape

(30641, 15)

In [6]:
# number of examples - no. of rows
len(students_score)

30641

In [7]:
# number of features - no. of columns
len(students_score.columns)

15

In [8]:
students_score.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30641 entries, 0 to 960
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   StudentId            30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29738 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.7+ MB

3. Show the first 5 examples of the dataset.

In [9]:
students_score.head()

,StudentId,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,520645,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,303683,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,457351,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,812988,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,594678,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

4. Using the third example from the dataset print for every feature the type of data (int, float, string or bool).

In [13]:
for i in range(len(students_score.columns)):
    print(list(students_score.columns)[i], "feature of third example is:", students_score.iloc[2, i], \
          "and is of type", type(students_score.iloc[2, i]))

StudentId feature of third example is: 457351 and is of type <class 'numpy.int64'>
Gender feature of third example is: female and is of type <class 'str'>
EthnicGroup feature of third example is: group B and is of type <class 'str'>
ParentEduc feature of third example is: master's degree and is of type <class 'str'>
LunchType feature of third example is: standard and is of type <class 'str'>
TestPrep feature of third example is: none and is of type <class 'str'>
ParentMaritalStatus feature of third example is: single and is of type <class 'str'>
PracticeSport feature of third example is: sometimes and is of type <class 'str'>
IsFirstChild feature of third example is: yes and is of type <class 'str'>
NrSiblings feature of third example is: 4.0 and is of type <class 'numpy.float64'>
TransportMeans feature of third example is: school_bus and is of type <class 'str'>
WklyStudyHours feature of third example is: < 5 and is of type <class 'str'>
MathScore feature of third example is: 87 and is of type <class 'numpy.int64'>
ReadingScore feature of third example is: 93 and is of type <class 'numpy.int64'>
WritingScore feature of third example is: 91 and is of type <class 'numpy.int64'>

5. For numerical features print the value of mean, standard deviation and median.

In [14]:
students_score.describe()
# all in the table, median is the 50% row

           StudentId    NrSiblings     MathScore  ReadingScore  WritingScore
count   30641.000000  29069.000000  30641.000000  30641.000000  30641.000000
mean   549614.852257      2.147305     66.558402     69.377533     68.418622
std    257913.251180      1.466746     15.361616     14.758952     15.443525
min    100024.000000      0.000000      0.000000     10.000000      4.000000
25%    328156.000000      1.000000     56.000000     59.000000     58.000000
50%    550904.000000      2.000000     67.000000     70.000000     69.000000
75%    771876.000000      3.000000     78.000000     80.000000     79.000000
max    999992.000000     26.000000    100.000000    100.000000    100.000000

In [15]:
students_score['StudentId'].median()

550904.0

6. Check if there are any monotonous attributes. If you find a monotonous attribute, remove it from the dataset.

In [16]:
students_score.nunique()

StudentId              30641
Gender                     2
EthnicGroup                5
ParentEduc                 6
LunchType                  2
TestPrep                   2
ParentMaritalStatus        4
PracticeSport              3
IsFirstChild              12
NrSiblings                11
TransportMeans             2
WklyStudyHours             3
MathScore                 95
ReadingScore              90
WritingScore              93
dtype: int64

In [17]:
students_score['StudentId'].is_monotonic_increasing

False

In [18]:
students_score['StudentId'].is_monotonic_decreasing

False

In [19]:
#students_score['StudentId'].is_monotnic
#students_score.apply(lambda x: x.is_monotonic_increasing)
students_score.apply(lambda x: x.is_monotonic_decreasing)

StudentId              False
Gender                 False
EthnicGroup            False
ParentEduc             False
LunchType              False
TestPrep               False
ParentMaritalStatus    False
PracticeSport          False
IsFirstChild           False
NrSiblings             False
TransportMeans         False
WklyStudyHours         False
MathScore              False
ReadingScore           False
WritingScore           False
dtype: bool

In [20]:
# although StudentId does not change in monotonous way, 
# it is the candidate for monotonous attribute because it has unique value for each entry 
# StudentId does not contain relevant student information whatsoever

students_score.drop(('StudentId'), axis=1, inplace=True)

7. Check the data for missing values. Print the number of missing values for each feature.

In [21]:
students_score.isna().sum()
# students_score.isna() prints a table

Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            903
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

8. Let's deal with the missing values. 

a) For the features EthnicGroup, ParentMaritalStatus and WklyStudyHours replace NaN values with the most common value.

b) For the feature ParentEduc replace NaN value with a string *no formal education*.

c) For the feature TestPrep replace NaN value with a string *none*.

d) For the features PracticeSport and IsFirstChild remove all the examples with NaN values. 

e) For the feature NrSiblings replace the NaN value with the median value.

f) Finally, for the feature TransportMeans replace the NaN value with a string *walking*.

In [22]:
# a)

#students_score.groupby('EthnicGroup').value_counts()
print(students_score['EthnicGroup'].mode())
print(students_score['ParentMaritalStatus'].mode())
print(students_score['WklyStudyHours'].mode())

tmp = students_score.copy()
tmp.loc[tmp.EthnicGroup.isna(),'EthnicGroup'] = tmp.loc[:,'EthnicGroup'].mode()[0] #!!!
tmp.loc[tmp.ParentMaritalStatus.isna(),'ParentMaritalStatus'] = tmp.loc[:,'ParentMaritalStatus'].mode()[0]
tmp.loc[tmp.WklyStudyHours.isna(),'WklyStudyHours'] = tmp.loc[:,'WklyStudyHours'].mode()[0]

0    group C
Name: EthnicGroup, dtype: object
0    married
Name: ParentMaritalStatus, dtype: object
0    5 - 10
Name: WklyStudyHours, dtype: object

In [23]:
tmp.head()
# EthnicGroup of row 0 was NaN before

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,female,group C,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [24]:
tmp.isna().sum()

Gender                    0
EthnicGroup               0
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus       0
PracticeSport           631
IsFirstChild            903
NrSiblings             1572
TransportMeans         3134
WklyStudyHours            0
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [25]:
# b) For the feature ParentEduc replace NaN value with a string no formal education.

tmp['ParentEduc'].iloc[15:25] # 22 and 24 are NaN

15      some high school
16           high school
17      some high school
18       master's degree
19    associate's degree
20           high school
21          some college
22                   NaN
23      some high school
24                   NaN
Name: ParentEduc, dtype: object

In [26]:
tmp.loc[tmp.ParentEduc.isna(),'ParentEduc'] = "no formal education"
tmp['ParentEduc'].iloc[15:25]

15       some high school
16            high school
17       some high school
18        master's degree
19     associate's degree
20            high school
21           some college
22    no formal education
23       some high school
24    no formal education
Name: ParentEduc, dtype: object

In [27]:
# c) For the feature TestPrep replace NaN value with a string none.

tmp['TestPrep'].iloc[0:10]

0         none
1          NaN
2         none
3         none
4         none
5         none
6    completed
7         none
8    completed
9         none
Name: TestPrep, dtype: object

In [28]:
tmp.loc[tmp.TestPrep.isna(),'TestPrep'] = "none"
tmp['TestPrep'].iloc[0:10]

0         none
1         none
2         none
3         none
4         none
5         none
6    completed
7         none
8    completed
9         none
Name: TestPrep, dtype: object

In [29]:
# d) For the features PracticeSport and IsFirstChild remove all the examples with NaN values.

tmp['PracticeSport'].iloc[40:50] #50

41    regularly
43    regularly
44    sometimes
45    sometimes
47    regularly
49    sometimes
50          NaN
51    regularly
52    regularly
53    sometimes
Name: PracticeSport, dtype: object

In [30]:
tmp = tmp.loc[tmp.PracticeSport.notnull(),:]
tmp['PracticeSport'].iloc[40:50] #50

41    regularly
43    regularly
44    sometimes
45    sometimes
47    regularly
49    sometimes
51    regularly
52    regularly
53    sometimes
54    regularly
Name: PracticeSport, dtype: object

In [31]:
tmp = tmp.loc[tmp.IsFirstChild.notnull(),:]

In [32]:
# e) For the feature NrSiblings replace the NaN value with the median value.

tmp['NrSiblings'].iloc[0:10]

# row 9 has NaN, median is calculated in a task before: it is 2.0

0    3.0
1    0.0
2    4.0
3    1.0
4    0.0
5    1.0
6    1.0
7    1.0
8    3.0
9    NaN
Name: NrSiblings, dtype: float64

In [33]:
tmp.loc[tmp.NrSiblings.isna(),'NrSiblings'] = tmp.loc[:,'NrSiblings'].median()

In [34]:
tmp['NrSiblings'].iloc[0:10]

0    3.0
1    0.0
2    4.0
3    1.0
4    0.0
5    1.0
6    1.0
7    1.0
8    3.0
9    2.0
Name: NrSiblings, dtype: float64

In [35]:
# f) Finally, for the feature TransportMeans replace the NaN value with a string walking.

tmp['TransportMeans'].iloc[0:10]

0    school_bus
1           NaN
2    school_bus
3           NaN
4    school_bus
5    school_bus
6       private
7       private
8       private
9       private
Name: TransportMeans, dtype: object

In [36]:
tmp.loc[tmp.TransportMeans.isna(),'TransportMeans'] = "walking"
tmp['TransportMeans'].iloc[0:10]

0    school_bus
1       walking
2    school_bus
3       walking
4    school_bus
5    school_bus
6       private
7       private
8       private
9       private
Name: TransportMeans, dtype: object

In [37]:
tmp.isna().sum()

Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
NrSiblings             0
TransportMeans         0
WklyStudyHours         0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

9. Are there inconsistencies in the IsFirstChild column? Replace the inconsistent entries so they match the rest of the values.

In [39]:
tmp.groupby('IsFirstChild').size()
# there are inconsistencies

IsFirstChild
Yes             6
es              2
nein            5
no          10405
noo             7
nope            6
si              2
ye              6
yeah            4
yeah boy        2
yes         18669
ys              3
dtype: int64

In [40]:
#X['Title'] = X['Title'].replace('Mlle', 'Miss')

tmp['IsFirstChild'] = tmp['IsFirstChild'].replace(['Yes', 'es', 'si', 'ye', 'yeah', 'yeah boy', 'ys'], 'yes')
tmp['IsFirstChild'] = tmp['IsFirstChild'].replace(['nein','noo', 'nope'], 'no')

tmp.groupby('IsFirstChild').size()

IsFirstChild
no     10423
yes    18694
dtype: int64

10. The final step to preparing the dataset for classification is transforming the non-numeric variables to numeric variables. 
For features Gender and LunchType use OneHot Encoder, and for EthnicGroup, ParentEduc, TestPrep, ParentMaritalStatus, PracticeSport, IsFirstChild, TransportMeans and WklyStudyHours use Label Encoder.

In [41]:
# Gender and LunchType - OneHot

#encoder = OneHotEncoder(handle_unknown="ignore")
#encoder.fit(X[['Title']])
#X_tmp = encoder.transform(X[['Title']])
#X_tmp = pd.DataFrame(X_tmp.toarray(), columns=encoder.get_feature_names_out(['Title']))
#X_tmp

encoder = OneHotEncoder(handle_unknown="ignore")
encoder.fit(tmp[['Gender']])
X_tmp = encoder.transform(tmp[['Gender']])
X_tmp = pd.DataFrame(X_tmp.toarray(), columns=encoder.get_feature_names_out(['Gender']))
X_tmp

       Gender_female  Gender_male
0                1.0          0.0
1                1.0          0.0
2                1.0          0.0
3                0.0          1.0
4                0.0          1.0
...              ...          ...
29112            1.0          0.0
29113            0.0          1.0
29114            1.0          0.0
29115            1.0          0.0
29116            0.0          1.0

[29117 rows x 2 columns]

In [205]:
# tmp = pd.concat((tmp, X_tmp), axis=1)
# InvalidIndexError: Reindexing only valid with uniquely valued Index objects
# Duplicated column names!

#df = tmp.reset_index()
#df.reset_index(inplace=True, drop=True)
#df = pd.concat((df, X_tmp), axis=1)
#df.head()

In [45]:
tmp.reset_index(inplace=True, drop=True)
tmp = pd.concat((tmp, X_tmp), axis=1)

In [46]:
tmp.shape

(29117, 16)

In [47]:
tmp.head()

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,Gender_female,Gender_male
0,female,group C,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74,1.0,0.0
1,female,group C,some college,standard,none,married,sometimes,yes,0.0,walking,5 - 10,69,90,88,1.0,0.0
2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,1.0,0.0
3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,walking,5 - 10,45,56,42,0.0,1.0
4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,0.0,1.0

In [48]:
encoder = OneHotEncoder(handle_unknown="ignore")
encoder.fit(tmp[['LunchType']])
X_tmp = encoder.transform(tmp[['LunchType']])
X_tmp = pd.DataFrame(X_tmp.toarray(), columns=encoder.get_feature_names_out(['LunchType']))
X_tmp

       LunchType_free/reduced  LunchType_standard
0                         0.0                 1.0
1                         0.0                 1.0
2                         0.0                 1.0
3                         1.0                 0.0
4                         0.0                 1.0
...                       ...                 ...
29112                     0.0                 1.0
29113                     0.0                 1.0
29114                     1.0                 0.0
29115                     0.0                 1.0
29116                     0.0                 1.0

[29117 rows x 2 columns]

In [49]:
#tmp.reset_index(inplace=True, drop=True)
tmp = pd.concat((tmp, X_tmp), axis=1)

In [50]:
tmp.head()

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,Gender_female,Gender_male,LunchType_free/reduced,LunchType_standard
0,female,group C,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74,1.0,0.0,0.0,1.0
1,female,group C,some college,standard,none,married,sometimes,yes,0.0,walking,5 - 10,69,90,88,1.0,0.0,0.0,1.0
2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,1.0,0.0,0.0,1.0
3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,walking,5 - 10,45,56,42,0.0,1.0,1.0,0.0
4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,0.0,1.0,0.0,1.0

In [51]:
tmp = tmp.loc[:, ~tmp.columns.isin(['Gender', 'LunchType'])].copy()

In [52]:
tmp.head()

,EthnicGroup,ParentEduc,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,Gender_female,Gender_male,LunchType_free/reduced,LunchType_standard
0,group C,bachelor's degree,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74,1.0,0.0,0.0,1.0
1,group C,some college,none,married,sometimes,yes,0.0,walking,5 - 10,69,90,88,1.0,0.0,0.0,1.0
2,group B,master's degree,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,1.0,0.0,0.0,1.0
3,group A,associate's degree,none,married,never,no,1.0,walking,5 - 10,45,56,42,0.0,1.0,1.0,0.0
4,group C,some college,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,0.0,1.0,0.0,1.0

In [53]:
# EthnicGroup, ParentEduc, TestPrep, ParentMaritalStatus, PracticeSport, IsFirstChild, TransportMeans and WklyStudyHours - Label

#le = LabelEncoder()
#le.fit(X.loc[:,'Sex'])
#X.loc[:,'Sex'] = le.transform(X.loc[:,'Sex'])

le = LabelEncoder()
le.fit(tmp.loc[:,'EthnicGroup'])
tmp.loc[:,'EthnicGroup'] = le.transform(tmp.loc[:,'EthnicGroup'])

le.fit(tmp.loc[:,'ParentEduc'])
tmp.loc[:,'ParentEduc'] = le.transform(tmp.loc[:,'ParentEduc'])

le.fit(tmp.loc[:,'TestPrep'])
tmp.loc[:,'TestPrep'] = le.transform(tmp.loc[:,'TestPrep'])

le.fit(tmp.loc[:,'ParentMaritalStatus'])
tmp.loc[:,'ParentMaritalStatus'] = le.transform(tmp.loc[:,'ParentMaritalStatus'])

le.fit(tmp.loc[:,'PracticeSport'])
tmp.loc[:,'PracticeSport'] = le.transform(tmp.loc[:,'PracticeSport'])

le.fit(tmp.loc[:,'IsFirstChild'])
tmp.loc[:,'IsFirstChild'] = le.transform(tmp.loc[:,'IsFirstChild'])

le.fit(tmp.loc[:,'TransportMeans'])
tmp.loc[:,'TransportMeans'] = le.transform(tmp.loc[:,'TransportMeans'])

le.fit(tmp.loc[:,'WklyStudyHours'])
tmp.loc[:,'WklyStudyHours'] = le.transform(tmp.loc[:,'WklyStudyHours'])

tmp.head()

,EthnicGroup,ParentEduc,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,Gender_female,Gender_male,LunchType_free/reduced,LunchType_standard
0,2,1,1,1,1,1,3.0,1,1,71,71,74,1.0,0.0,0.0,1.0
1,2,5,1,1,2,1,0.0,2,0,69,90,88,1.0,0.0,0.0,1.0
2,1,3,1,2,2,1,4.0,1,1,87,93,91,1.0,0.0,0.0,1.0
3,0,0,1,1,0,0,1.0,2,0,45,56,42,0.0,1.0,1.0,0.0
4,2,5,1,1,2,1,0.0,1,0,76,78,75,0.0,1.0,0.0,1.0

In [54]:
tmp.to_csv("students_score_handled.csv")